    @media screen and (max-width:1100px) {
        .nav-ul {
            display: none;
            /* transition: display; */
        }
        .ham-menu {
            display: block;
        }
        .menu-responsive {
            display: block;
            /* opacity: 1; */
            /* right: 0; */
        }
    }